PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix/zabbix_agentd.log
LogFileSize=0
EnableRemoteCommands=0

# WORK ON ZABBIX3x
Server={{ zabbix_server_ip }}
ServerActive={{ zabbix_server_ip }}

HostMetadataItem=system.uname

Include=/etc/zabbix/zabbix_agentd.d/
ListenPort=10050
StartAgents=3
DebugLevel=3
